<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Get Excited!</h1>
    <p>JumpPad is a way for you to organize and plan your trip from the very high level down to the itty-gritty details. With tons of features, including Google Maps integration, printable schedules, and activities sourced from thousands of sources around the world, JumpPad is the best way to get excited about your trip.</p>
    <p><%= link_to "Start Your Project", new_trip_path, :class => "btn success large" %></p>

  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Existing Trips</h2>
      <p>We get it. It's a complicated, seven country tour of Latin America. The sheer number of sights, sounds, and routes are driving you mad. Take your time, you won't regret it. Return to an existing trip you've already started by clicking below.</p>
      <p><a class="btn primary disabled" href="#">Coming Soon! &raquo;</a></p>

    </div>
    <div class="span5">
      <h2>Browse Trips</h2>
       <p>Curious as to what other people have planned? Want to see what other people are doing during their whirlwind 2-day tour of Singapore, or the path people take on their 6-month spiritual trek across the foothills of Mongolia? Browse other peoples' trips here! </p>
      <p><%= link_to 'View Details »', trips_path, :class => 'btn primary' %></p>
   </div>
    <div class="span5">

      <h2>Share Trips</h2>
      <p>So now you've got the perfect trip down pat. Lunch at Caffè Greco, stroll down to San Giovanni Laterano for lunch, and back to the Regency for drinks and dinner by evening. Flaunt your plans or simply share them with others by clicking below. </p>
      <p><a class="btn primary" href="#">View details &raquo;</a></p>
    </div>
  </div>
  
  <footer>
	  <p>&copy; JumpPad 2011</p>
  </footer>
</div>